{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Backupy</h1>
      </div>

        <p>Na ten moment nie można jeszcze stworzyć backupu bazy z systemu. Do ręcznego backupowania bazy należy użyć konsoli psql lub narzędzia pgAdmin III.</p>
        <br>
        <p>Bazę danych backupujemy komendą:</p>

        <kbd> pg_dump {nazwa_bazy} -f {nazwa_pliku}.sql</kbd>

        <br><br>
        <p>Bazę danych przywracamy z backupu komendą:</p>

        <kbd>psql {nazwa_bazy} -f {nazwa_pliku_z_backupem}.sql</kbd>

    </div> <!-- /container -->

    </div>

{% endblock %}