{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Dostawy końcowe kwitu wywozowego nr {{ order }}</h1>
      </div>

        <h2>Pozycje dostawy</h2>
        {% if order.has_order_items %}
          <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
{#                    <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>#}
                </tr>
            </thead>
            <tbody>
            {% for order_item in order.order_items.all %}
                <tr>
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
{#                    <td>#}
{#                        {{ order_item.get_difference_display }}#}
{#                        {% if not order_item.is_fully_shipped %}#}
{#                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja nie w pełni dostarczona!"></span>#}
{#                        {% else %}#}
{#                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja w pełni dostarczona!"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych pozycji.
              </div>
            </div>
        {% endif %}
        <br>

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa pozycji dostawy [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr {% if not order.has_differences %} class="bg-success" {% else %} class="bg-warning" {% endif %} >
                <td>Różnica między dostawami pośrednimi [m³]</td>
                <td>{{ order.get_difference_display }}</td>
            </tr>
            <tr {% if not order.has_final_differences %} class="bg-success" {% else %} class="bg-danger" {% endif %} >
                <td>Różnica między dostawami końcowymi [m³]</td>
                <td>{{ order.get_final_difference_display }}</td>
            </tr>
        </tbody>
    </table>
        <br>
        <a href="{% url 'order_item_create' order.pk %}" class="btn btn-success" > <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true" ></span> Dodaj pozycję dostawy  </a>
        <a href="{% url 'order_item_list' order.pk %}" class="btn btn-success">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż pozycje dostawy
        </a>

        <hr/>

        <h2>Dostawy pośrednie</h2>
        {% if order.has_shipments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Kontrahent</th>
                </tr>
            </thead>
            <tbody>
            {% for shipment in order.shipments.all %}
                <tr>
                    <td>{{ shipment.wood_kind }}</td>
                    <td>{{ shipment.get_amount_display }}</td>
                    <td>{{ shipment.contractor }}</td>
                </tr>
            {% endfor %}
          </tbody>
          </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych dostaw pośrednich.
              </div>
            </div>
        {% endif %}

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa dostaw pośrednich [m³]</td>
                <td>{{ order.get_shipped_amount_display }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'shipment_create' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawę pośrednią </a>
    <a href="{% url 'shipment_create_all' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawy pośrednie do reszty</a>

    <a href="{% url 'shipment_list' order.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż dostawy pośrednie
        </a>
    <hr/>

        <h2>Dostawy końcowe</h2>

    {{ datatable }}

        <br>

        <a href="{% url 'final_shipment_create' order.pk %}" class="btn btn-lg btn-info" > <span class="glyphicon glyphicon-road" aria-hidden="true" ></span> Dodaj dostawę końcową </a>
        <a href="{% url 'final_shipment_create_all' order.pk %}" class="btn btn-lg btn-info" > <span class="glyphicon glyphicon-road" aria-hidden="true" ></span> Dodaj dostawy końcowe do reszty </a>
        <a href="javascript:history.go(0)" class="btn btn-lg btn-info" > <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Odśwież </a>
        <a href="{% url 'order_list' %}" class="btn btn-lg btn-primary" > <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> Wróć do kwitów wywozowych </a>

    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
      </div>
    </div>

    </div> <!-- /container -->

    </div>

{% endblock %}