<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Usuń {{ order }}</h4>
</div>
<div class="modal-body">
    <form action="{% url 'order_delete' order.id %}" method="post">{% csrf_token %}
        <div class="panel panel-danger">
          <div class="panel-heading">
              <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            Czy na pewno chcesz usunąć kwit wywozowy nr "{{ order }}" wraz z jego pozycjami i dostawami?
          </div>
        </div>
        <input type="submit" class="btn btn-danger" value="Usuń" />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>