{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Pozycje zamówienia {{ order }}</h1>
      </div>

    {{ datatable }}

        <br>

        <a href="{% url 'order_item_create' order.pk %}" class="btn btn-lg btn-success" > <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true" ></span> Dodaj pozycję zamówienia </a>
        <a href="javascript:history.go(0)" class="btn btn-lg btn-info" > <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Odśwież </a>
        <a href="{% url 'order_list' %}" class="btn btn-lg btn-primary" > <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> Wróć do zamówień </a>

    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
      </div>
    </div>

    </div> <!-- /container -->

    </div>

{% endblock %}