<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Szczegóły dostawy</h4>
</div>
<div class="modal-body">
    <h1>Kwit wywozowy nr {{ order }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Kod</td>
                <td>{{ order }}</td>
            </tr>
            <tr>
                <td>Nadleśnictwo</td>
                <td>{{ order.forest_district }}</td>
            </tr>
            <tr>
                <td>Kierowca</td>
                <td>{{ order.driver }}</td>
            </tr>
            <tr>
                <td>Liczba sztuk [szt.]</td>
                <td>{{ order.pieces }}</td>
            </tr>
            <tr>
                <td>Masa [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr>
                <td>Cena [zł]</td>
                <td>{{ order.get_price_display }}</td>
            </tr>
            <tr>
                <td>Umowa</td>
                <td>{{ deal }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Pozycje dostawy</h2>
        {% if order.has_order_items %}
          <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
                    {% if order.is_depot %}
                        <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for order_item in order.order_items.all %}
                <tr {% if order.is_depot %} {% if not order_item.has_difference %} class="bg-success" {% else %} class="bg-danger" {% endif %} {% endif %} >
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
                    {% if order.is_depot %}
                    <td>
                        {{ order_item.get_difference_display }}
                        {% if not order_item.is_fully_shipped %}
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja nie w pełni dostarczona!"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja w pełni dostarczona!"></span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych pozycji.
              </div>
            </div>
        {% endif %}
        <br>

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa pozycji dostawy [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr {% if not order.has_difference %} class="bg-success" {% else %} class="bg-danger" {% endif %} >
                <td>Różnica między dostawami [m³]</td>
                <td>{{ order.get_difference_display }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{% url 'order_item_create' order.pk %}" class="btn btn-success" > <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true" ></span> Dodaj pozycję dostawy  </a>
        <a href="{% url 'order_item_list' order.pk %}" class="btn btn-success">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż pozycje dostawy
        </a>
    <hr/>
    {% if order.is_empty or order.is_depot or order.is_both %}
    <h2>Dostawy pośrednie</h2>
        {% if order.has_shipments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Kontrahent</th>
                </tr>
            </thead>
            <tbody>
            {% for shipment in order.shipments.all %}
                <tr>
                    <td>{{ shipment.wood_kind }}</td>
                    <td>{{ shipment.get_amount_display }}</td>
                    <td>{{ shipment.contractor }}</td>
                </tr>
            {% endfor %}
          </tbody>
          </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych dostaw pośrednich.
              </div>
            </div>
        {% endif %}
    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa dostaw pośrednich [m³]</td>
                <td>{{ order.get_shipped_amount_display }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'shipment_create' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawę pośrednią </a>
    <a href="{% url 'shipment_create_all' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawy pośrednie do reszty</a>

    <a href="{% url 'shipment_list' order.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż dostawy pośrednie
        </a>
    <hr/>
    {% endif %}
    {% if order.is_empty or not order.is_depot or order.is_both %}
    <h2>Dostawy końcowe</h2>
        {% if order.has_final_shipments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Masa [m³]</th>
                    <th>Kontrahent</th>
                    <th>Rodzaj drewna</th>
                    <th>Kierowca</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
            {% for final_shipment in order.final_shipments.all %}
                <tr>
                    <td>{{ final_shipment.get_amount_display }}</td>
                    <td>{{ final_shipment.contractor }}</td>
                    <td>{{ final_shipment.wood_type }}</td>
                    <td>{{ final_shipment.driver }}</td>
                    <td>{{ final_shipment.date }}</td>
                </tr>
            {% endfor %}
          </tbody>
          </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych dostaw końcowych.
              </div>
            </div>
        {% endif %}

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa dostaw końcowych [m³]</td>
                <td>{{ order.get_shipped_amount_display }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'final_shipment_create' order.pk %}" class="btn btn-info" > <span class="glyphicon glyphicon-road" aria-hidden="true" ></span> Dodaj dostawę końcową </a>
    <a href="{% url 'final_shipment_create_all' order.pk %}" class="btn btn-info" > <span class="glyphicon glyphicon-road" aria-hidden="true" ></span> Dodaj dostawy końcowe do reszty</a>

    <a href="{% url 'final_shipment_list' order.pk %}" class="btn btn-info">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż dostawy końcowe
        </a>
    {% endif %}
    <hr>
    <h2>Szczegóły umowy</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>Kod</td>
                <td>{{ deal.code }}</td>
            </tr>
            <tr>
                <td>Nazwa</td>
                <td>{{ deal }}</td>
            </tr>
            <tr>
                <td>Obowiązuje od</td>
                <td>{{ deal.date_from }}</td>
            </tr>
            <tr>
                <td>Obowiązuje do</td>
                <td>{{ deal.date_to }}</td>
            </tr>
        </tbody>
    </table>
    <h4>Pozycje umowy</h4>
    <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa na umowie [m³]</th>
                    <th>Masa pozostała [m³]</th>
                </tr>
            </thead>
            <tbody>
            {% for deal_item in deal.deal_items.all %}
                <tr >
                    <td>{{ deal_item.code }}</td>
                    <td>{{ deal_item.get_amount_display }}</td>
                    <td>{{ deal_item.get_remaining_display }}</td>
                </tr>
            {% endfor %}
      </tbody>
      </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>
