{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Dodaj pozycję dostawy {{ order }}</h1>
      </div>

        <h2>Pozycje dostawy</h2>
        {% if order.has_order_items %}
          <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
{#                    <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>#}
                </tr>
            </thead>
            <tbody>
            {% for order_item in order.order_items.all %}
                <tr>
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
{#                    <td>#}
{#                        {{ order_item.get_difference_display }}#}
{#                        {% if not order_item.is_fully_shipped %}#}
{#                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja nie w pełni dostarczona!"></span>#}
{#                        {% else %}#}
{#                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja w pełni dostarczona!"></span>#}
{#                        {% endif %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych pozycji.
              </div>
            </div>
        {% endif %}
        <br>

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa pozycji dostawy [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr {% if not order.has_difference %} class="bg-success" {% else %} class="bg-warning" {% endif %} >
                <td>Różnica między dostawami pośrednimi [m³]</td>
                <td>{{ order.get_difference_display }}</td>
            </tr>
            <tr {% if not order.has_difference %} class="bg-success" {% else %} class="bg-danger" {% endif %} >
                <td>Różnica między dostawami końcowymi [m³]</td>
                <td>{{ order.get_difference_display }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{% url 'order_item_list' order.pk %}" class="btn btn-success">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż pozycje dostawy
        </a>

        <hr>

        <h2>Dodaj pozycję dostawy</h2>

    <form method="post" action="{% url 'order_item_create' order.pk %}">
        {% csrf_token %}

        {% include 'forms/form_hidden_fields.html' with fields=form.hidden_fields %}
        {% include 'forms/form_fields.html' with fields=form.visible_fields %}

        <input class="btn btn-default"  type="submit" value="Dodaj" />
        <a href="{% url 'order_list' %}" class="btn btn-primary" > <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> Wróć do kwitów wywozowych </a>
    </form>

    </div> <!-- /container -->

    </div>

{% endblock %}