<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Szczegóły dostawy</h4>
</div>
<div class="modal-body">
    <h1>Kwit wywozowy nr {{ order }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <td>Kod</td>
                <td>{{ order }}</td>
            </tr>
            <tr>
                <td>Nadleśnictwo</td>
                <td>{{ order.forest_district }}</td>
            </tr>
            <tr>
                <td>Kierowca</td>
                <td>{{ order.driver }}</td>
            </tr>
            <tr>
                <td>Liczba sztuk [szt.]</td>
                <td>{{ order.pieces }}</td>
            </tr>
            <tr>
                <td>Masa [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr>
                <td>Cena [zł]</td>
                <td>{{ order.get_price_display }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Pozycje dostawy</h2>
        {% if order.has_order_items %}
          <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
                    <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>
                </tr>
            </thead>
            <tbody>
            {% for order_item in order.order_items.all %}
                <tr {% if not order_item.is_fully_shipped %} class="bg-danger" {% else %} class="bg-success" {% endif %}>
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
                    <td>
                        {{ order_item.get_difference_display }}
                        {% if not order_item.is_fully_shipped %}
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja nie w pełni dostarczona!"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja w pełni dostarczona!"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych pozycji.
              </div>
            </div>
        {% endif %}
        <br>
        <a href="{% url 'order_item_create' order.pk %}" class="btn btn-success" > <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true" ></span> Dodaj pozycję dostawy  </a>
        <a href="{% url 'order_item_list' order.pk %}" class="btn btn-success">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż pozycje dostawy
        </a>
    <hr/>
    <h2>Dostawy pośrednie</h2>
        {% if order.has_shipments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Kontrahent</th>
                </tr>
            </thead>
            <tbody>
            {% for shipment in order.shipments.all %}
                <tr>
                    <td>{{ shipment.wood_kind }}</td>
                    <td>{{ shipment.get_amount_display }}</td>
                    <td>{{ shipment.contractor }}</td>
                </tr>
            {% endfor %}
          </tbody>
          </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych dostaw pośrednich.
              </div>
            </div>
        {% endif %}

    <a href="{% url 'shipment_create' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawę pośrednią </a>
    <a href="{% url 'shipment_create_all' order.pk %}" class="btn btn-default" > <span class="glyphicon glyphicon-plane" aria-hidden="true" ></span> Dodaj dostawy pośrednie w całości</a>

    <a href="{% url 'shipment_list' order.pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż dostawy pośrednie
        </a>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
</div>
