{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Raporty</h1>
      </div>

        <div class="panel panel-primary">
        <div class="panel-body">

        <div class="media">
          <div class="media-left">
            <a href="{% url 'driver_report' %}">
              <img class="media-object" src="{% static 'images/icon-wheel.png' %}" alt="Kierowcy">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Kierowcy</h4>
            Dla wybranego kierowcy oraz dat od, do pokazuje zestawienie dostarczonych przez niego w tym czasie dostaw pośrednich oraz końcowych.
          </div>
        </div>

            </div>
        </div>

        <div class="panel panel-primary">
        <div class="panel-body">

        <div class="media">
          <div class="media-left">
            <a href="{% url 'depot_report' %}">
              <img class="media-object" src="{% static 'images/icon-depot.png' %}" alt="Składnice">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Składnice</h4>
            Dla wybranej składnicy oraz dat od, do pokazuje zestawienie dostarczonych na nie w tym czasie dostaw pośrednich i dostaw końcowych z nich.
          </div>
        </div>
        </div>
        </div>

        <div class="panel panel-primary">
        <div class="panel-body">

        <div class="media">
          <div class="media-left">
            <a href="{% url 'contractor_report' %}">
              <img class="media-object" src="{% static 'images/icon-truck.png' %}" alt="Kontrahenci">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Kontrahenci</h4>
            Dla wybranego kontrahenta oraz dat od, do pokazuje zestawienie dostarczonych do niego w tym czasie dostaw koncowych i dostaw koncowych ze składnic.
          </div>
        </div>
        </div>
        </div>

        <div class="panel panel-primary">
        <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <a href="{% url 'deal_report' %}">
              <img class="media-object" src="{% static 'images/icon-deal.png' %}" alt="Umowy">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Umowy</h4>
            Dla wybranej umowy pokazuje zestawienie pozycji dostaw z nadleśnictwa z którym została zawarta w czasie trwania jej ważności.
          </div>
        </div>
        </div>
        </div>

        <div class="panel panel-primary">
        <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <a href="{% url 'wood_kind_report' %}">
              <img class="media-object" src="{% static 'images/icon-wood-kind.png' %}" alt="Umowy">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Nadleśnictwa i sortymenty</h4>
            Dla wybranego nadleśnictwa, sortymentu oraz dat od, do pokazuje zestawienie ilości oraz ceny drewna zakupionego w tym okresie, nadleśnictwie i sortymencie.
          </div>
        </div>
        </div>
        </div>

    </div> <!-- /container -->

    </div>

{% endblock %}