{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Niedostarczone pozycje dostaw z {{ report_date }}</h1>
      </div>

    <h2>Niedostarczone pozycje dostaw</h2>
        {% if not_fully_shipped %}
          <table class="table">
            <thead>
                <tr>
                    <th>Numer kwitu wywozowego</th>
                    <th>Kierowca</th>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
                    <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>
                </tr>
            </thead>
            <tbody>
            {% for order_item in not_fully_shipped %}
                <tr {% if not order_item.is_fully_shipped %} class="bg-danger" {% else %} class="bg-success" {% endif %}>
                    <td><a href="{% url 'order_detail' order_item.order.pk %}" data-remote="false" data-toggle="modal" data-target="#myModal">{{ order_item.order }}</a></td>
                    <td>{{ order_item.order.driver }}</td>
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
                    <td>
                        {{ order_item.get_difference_display }}
                    </td>
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> W tym miesiacu nie ma jeszcze niedostarczonych pozycji.
              </div>
            </div>
        {% endif %}

    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
      </div>
    </div>

</div>

        </div> <!-- /container -->

    </div>

{% endblock %}