{% extends '_base.html' %}
{% load static %}

{% block content %}

    <div class="index">

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Dodaj dostawę pośrednią kwitu wywozowego nr {{ order }}</h1>
      </div>

        <h2>Pozycje dostawy</h2>
        {% if order.has_order_items %}
          <table class="table">
            <thead>
                <tr>
                    <th>Sortyment</th>
                    <th>Masa [m³]</th>
                    <th>Cena [zł]</th>
                    {% if order.is_depot %}
                        <th>Różnica [m³] <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Różnica masy pomiędzy pozycją dostawy i dostawą pośrednią."></span></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for order_item in order.order_items.all %}
                <tr {% if order.is_depot %} {% if not order_item.has_difference %} class="bg-success" {% else %} class="bg-danger" {% endif %} {% endif %} >
                    <td>{{ order_item.wood_kind }}</td>
                    <td>{{ order_item.get_amount_display }}</td>
                    <td>{{ order_item.get_price_display }}</td>
                    {% if order.is_depot %}
                    <td>
                        {{ order_item.get_difference_display }}
                        {% if not order_item.is_fully_shipped %}
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja nie w pełni dostarczona!"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" title="Pozycja w pełni dostarczona!"></span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
      </tbody>
      </table>
        {% else %}
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span> Ten kwit wywozowy nie ma jeszcze dodanych pozycji.
              </div>
            </div>
        {% endif %}
        <br>

    <h4>Masa łączna</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>Łączna masa pozycji dostawy [m³]</td>
                <td>{{ order.get_amount_display }}</td>
            </tr>
            <tr {% if not order.has_difference %} class="bg-success" {% else %} class="bg-danger" {% endif %} >
                <td>Różnica między dostawami [m³]</td>
                <td>{{ order.get_difference_display }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{% url 'order_item_create' order.pk %}" class="btn btn-success" > <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true" ></span> Dodaj pozycję dostawy  </a>
    <a href="{% url 'order_item_list' order.pk %}" class="btn btn-success">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pokaż pozycje dostawy
        </a>

        <hr>

        <h2>Dodaj dostawę pośrednią</h2>

    {% if order.has_order_items and not order.is_fully_shipped_indirect %}

    <form method="post" action="{% url 'shipment_create' order.pk %}">
        {% csrf_token %}

        {% include 'forms/form_hidden_fields.html' with fields=form.hidden_fields %}
        {% include 'forms/form_fields.html' with fields=form.visible_fields %}

        <input class="btn btn-default"  type="submit" value="Dodaj" />
        <a href="{% url 'order_list' %}" class="btn btn-primary" > <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> Wróć do kwitów wywozowych </a>
    </form>

    {% else %}
        <div class="panel panel-danger">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" ></span> Nie możesz dodać dostawy ponieważ ten kwit wywozowy nie ma jeszcze dodanych pozycji, lub jest w pełni dostarczony.
              </div>
            </div>
        <a href="{% url 'order_list' %}" class="btn btn-primary" > <span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span> Wróć do kwitów wywozowych </a>
    {% endif %}

    </div> <!-- /container -->

    </div>

{% endblock %}